<%= form_for([@item,@comment], :remote=>true, :html => { :id=>"new_comment_#{@item.id}"}) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.text_area :text, :cols => 113, :rows=>3 %>
  </div>

  <script>
      // move focus to comments
      $("#new_comment_<%= @item.id %> #comment_text").focus();

      // submit when user presses return
      $('textarea#comment_text').keypress(function(e) {
          if (e.keyCode == 13 && !e.shiftKey) {
              e.preventDefault();
              $("#new_comment_<%= @item.id %>").submit();
          }
      });
  </script>

<% end %>
