<h1>Listing comments</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Owner</th>
    <th>Text</th>
    <th>Datetime</th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.item.title %></td>
    <td><%= comment.user.name %></td>
    <td><%= comment.text %></td>
    <td><%= comment.datetime %></td>
    <td><%= link_to 'Edit', edit_item_comment_path(comment.item, comment) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_item_comment_path %>
