<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unit</th>
    <th>Email</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>

    <td>
      <% i = 0 %>
      <% user.units.each do |unit|  %>
          <% i += 1 %>
          <% if i > 1 %>
              ,
          <% end %>
          <%= unit.number %>
      <% end %>
    </td>

    <td><%= user.email %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
