<div class="item">

  <p><%= link_to item.title, item, :class=>"item_title" %>
    <% if !item.cost.nil? %>
        ($<%= number_with_precision(item.cost, :precision => 0) %>)
    <% end %><br>

    <% summary = 0 unless (defined? summary) %>
    <% if summary == 1 %>
        <%= truncate(item.description, :length => 300) %>
    <% else %>
        <%=  simple_format(item.description) %>
    <% end %>
  </p>

  <% if item.votes.any? %>
      <div class="item_votes">
        <ul>
          <%=  render item.votes %>
        </ul>
      </div>
  <% end %>

  <div class="item_vote_actions">
    <%= link_to 'Yes', new_item_vote_path(:item_id=>item, :choice=>1 ) %> |
    <%= link_to 'No', new_item_vote_path(:item_id=>item, :choice=>0 ) %> |
    <%= link_to 'Clear Vote', new_item_vote_path(:item_id=>item ) %> |
    <%= link_to 'Comment', new_item_comment_path(item), :remote => true %>
  </div>

  <div class="item_actions">
    <%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete %>
  </div>

</div>

<% if item.comments.any? %>
    <%= render item.comments %>
<% end %>
<div class="new_comment_<%=  item.id %>"></div>

