<h1>Items</h1>
<% @items.each do |item| %>
<div class="item">
  <p><%= link_to item.title, item, :class=>"item_title" %>
    <% if !item.cost.nil? %>
        ($<%= number_with_precision(item.cost, :precision => 0) %>)
        <% end %>
    <br>
  <%= truncate(item.description, :length => 300) %>
  </p>

  <% item.votes.each do |vote| %>
      <ul>
        <% if !vote.choice.nil? %>
            <li>Unit <%= vote.unit.number %>: <%= vote.choice ? 'Yes' : 'No' %></li></td>
        <% end %>
      </ul>
  <% end %>

  <div class="item_votes">
    <%= link_to 'Vote Yes', new_item_vote_path(:item_id=>item, :choice=>1) %> |
    <%= link_to 'Vote No', new_item_vote_path(:item_id=>item, :choice=>0 ) %> |
    <%= link_to 'Clear Vote', new_item_vote_path(:item_id=>item ) %>
  </div>
  <div class="item_actions">
  <%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete %>
  </div>

</div>
<% end %>

<br />

<p class="action_links"><%= link_to 'Propose a New Item for Vote', new_item_path %></p>