<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @item.title %>
</p>

<p>
  <b>Unit:</b>
  <%= @unit.number %>
</p>

<p>
  <b>Choice:</b>
  <%= @vote.choice %>
</p>


<%= link_to 'Edit', edit_item_vote_path(@vote.item, @vote) %> |
<%= link_to 'Back', item_votes_path %>
